name: "Deploy SAM Stack to Production"
on: 
  push:
    branches:
    - main
#job
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - run: npm install
    - uses: aws-actions/setup-sam@v1
    - uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.REGION }}
    - run: sam build --use-container
      # Prevent prompts and failure when the stack is unchanged
    - run: sam deploy --no-confirm-changeset --no-fail-on-empty-changeset